#applicationRoot{
    -fx-background-color: #282828;
}


.button{
    -fx-background-color: transparent;
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#choiceSpeed{
    -fx-opacity: 0.0;
}

#frontPanel{
    -fx-background-color: transparent;
}


#openfileButton{
    -fx-background-image: url("../resources/images/player_openfile.png");
}

#stopButton{
    -fx-background-image: url("../resources/images/player_stop.png");
}

#exitButton{
    -fx-background-image: url("../resources/images/player_exit.png");
}